body {
    background: rgb(173, 172, 172);
}

p {
    color: blueviolet;
}

h1 {
    /* //fsdfdfd */
    font-size: 50px;
    font-weight: 900;
    color: coral;
    background-color: lightseagreen;
}